.small-box {
  width: 200px;
  height: 200px;
  display: inline-block;
}

.big-box {
  width: 600px;
  height: 200px;
  background-color: darkslateblue;
  display: block;
}

.dark-olive {
  background-color: darkolivegreen;
}

.dark-green {
  background-color: darkgreen;
}

.dark-grey {
  background-color: darkslategray;
}
